doctype html
html
  head
    title Another page generated using pug
    link(
      href='style.css'
      rel='stylesheet'
    )
  body
    .container
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ipsam voluptate veritatis saepe, doloremque quis nesciunt itaque distinctio temporibus? Numquam animi fuga asperiores consequuntur doloribus placeat accusantium dignissimos sit libero?
      p Veniam, quam necessitatibus minima incidunt quisquam saepe, voluptas, deleniti nisi earum pariatur at esse quod! Rem veritatis temporibus quisquam aspernatur ex eius soluta tempora voluptatum. Repudiandae aperiam similique distinctio laboriosam!
      p Quisquam eius laboriosam ex aspernatur odit cum suscipit iusto aut nisi molestiae temporibus, asperiores quos veniam natus veritatis ad, deserunt iure fugit nemo. Suscipit nisi ab beatae cum enim explicabo!
      p Nulla sed recusandae fuga rem praesentium minus ducimus velit totam? Amet eos architecto hic ad error repudiandae placeat veniam facere, impedit perspiciatis itaque, dolorum enim, quam aut necessitatibus fugit officiis.
      p Aspernatur voluptatem iure sint vel hic modi in, ullam natus totam rem harum accusantium saepe ut dolores voluptas consequuntur? Amet id sint consectetur ratione quaerat aperiam ut eius impedit nobis!
      p Provident inventore nobis aut quod incidunt fugit. Excepturi mollitia quia quis explicabo quasi laudantium architecto exercitationem, commodi, placeat molestias repellat eos. Sequi vero, aliquam repellendus quae omnis excepturi totam accusantium?
      p Dolor dolores tempora nihil aspernatur sit voluptates eaque corrupti voluptatum doloremque vero. Quia voluptas nulla laboriosam perferendis, asperiores nesciunt. Natus expedita id consequatur possimus sequi saepe nostrum sunt corrupti quo!