doctype html
html
  head
    title The Index page
    link(
      href='style.css'
      rel='stylesheet'
    )
  body
    .container
      h1 Hello, there!
      p This is a simple page generated usisng pug on Node.js.
      p The workflow basically demonstrates the Sass and Pug automation using the native Sass and Pug CLI utilities, without needing Nodemon or Concurrently.
